{% extends 'base.html' %}

{% block title %}Список типов компаний{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-striped align-baseline" id="main-table">
      <thead>
        <tr>
          <th scope="col" width="10%" id="num">#</th>
          <th scope="col" width="60%" id="prod">Наименование</th>
          <th scope="col" width="30%" id="prod">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% if company_types %}
          {% for company_type in company_types %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th> {# Номер строки #}
              <td>{{ company_type.name }}</td> {# Наименование типа компании #}
              <td> {# Действия #}
                <a
                        href="{% url 'companies:update_company_type' company_type.pk %}"
                        class="btn btn-primary shadow-none btn-small"
                        title="Изменить"
                >
                  🗘
                </a>
                <a
                        href="{% url 'companies:delete_company_type' company_type.pk %}"
                        class="btn btn-danger shadow-none btn-small"
                        title="Удалить"
                >
                  ✖
                </a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">Список типов компаний пуст</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row-reverse">
    <a href="{% url 'companies:add_company_type' %}" class="btn btn-success">
      Добавить тип компании
    </a>
  </div>
{% endblock %}